{
    "presets": ["es2015", "stage-0"],
    "plugins": [
        "transform-runtime",
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "config": "./config",
                "util": "./util",
                "middleware": "./middleware",
                "router": "./router",
                "model": "./model",
                "api": "./api"
            }
        }]
    ],
    "ignore": [""],
}
